<mat-nav-list>
  <div class="logo py-4">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <img src="../../../../assets/img/logoFastTaxwht.png" width="180" height="40" routerLink="/home" alt="VetorIt" >
    </a>
  </div>
  <mat-divider></mat-divider>
  <!--h2 matSubheader class="mt-2">Opções</h2-->
  <!--a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a-->
  <!--a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a-->
  <!--mat-divider></mat-divider-->
  <!--a mat-list-item routerLinkActive="list-item-active" routerLink="/tarefas-automatizadas">
    <mat-icon>featured_play_list</mat-icon> Tarefas Automatizadas
  </a-->



  <div class="card flex justify-content-center">
    <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>
  </div>
</mat-nav-list>



