<div class="col-12">
  <p-card
      styleClass="shadow-3  text-orange-500"
      header="Configurações Gerais"
    >
    <div class="col-sm-12">
      <!--ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item" icon="pi pi-plus" ><a href="/tarefas-automatizadas">Tarefas Automatizadas</a></li>
        <li class="breadcrumb-item active">Fluxos</li>
      </ol-->
    </div>
    <div class="formgrid grid">
      <div class="field col-12">
      <p-toolbar>
        <div class="p-toolbar-group-star">
          <h3>Lista de configurações gerais</h3>
        </div>
        <div class="p-toolbar-group-end">
          <!--p-button
           icon="pi pi-plus"
           class="mr-2"
           pTooltip="Adicionar novas configurações"
           tooltipPosition="top"

           ></p-button-->
        </div>
      </p-toolbar>
      </div>
    </div>
        <div class="card">
          <p-table
          #usuariosOnLineTable
          [value]="configuracoesGerais"
          styleClass="p-datatable-sm"
          [rows]="10"
          [paginator]="true"
          [responsive]="true"
          [globalFilterFields]="['grupo', 'id']"
          [tableStyle]="{ 'min-width': '50rem' }"
          styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
          [rowHover]="true"
          [showCurrentPageReport]="true"
          dataKey="id"
          [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
          currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} funcionalidades"
        >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Listagem de configurações gerais

          </div>
      </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="ambiente">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Ambiente
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="ambiente"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="nivelLog">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Nível de Log
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="nivelLog"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="linguagem">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Idioma
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="linguagem"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="ged">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Ged
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="ged"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="trabalhos">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Trabalhos
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="trabalhos"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="painelControle">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Painel de Controle
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="painelControle"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="validador">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Validador
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="validador"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="agruparPorStatus">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Agrupar por Status
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="agruparPorStatus"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="diratorioAgrupamento">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Diretório Agrupamento
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="diratorioAgrupamento"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="rlProvedor">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    RL Provedor
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="rlProvedor"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="portaProvedor">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Porta
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="portaProvedo"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="dominio">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Domímio
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="dominio"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="useLdap">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Use LDAP
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="useLdap"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="hostName">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Host
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="hostName"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="porta">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Porta
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="porta"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="ssl">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    SSL
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="ssl"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="remetente">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Remetente
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="remetente"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="usuario">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Usuário
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="usuario"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="senha">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Senha
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="senha"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="senhaA3">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Senha A3
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="senhaA3"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="validacao">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Validação
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="validacao"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="assinatura">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Assinatura
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="assinatura"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="transmissao">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Transmissão
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="transmissao"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="excluirContabilidade">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Excluir Contabilidade
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="excluirContabilidade"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="validacaoAutomatica">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Validação Automática
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="validacaoAutomatica"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="alertaEmail">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Alerta Email
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="alertaEmail"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="oracleWsdl">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Oracle WSDL
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="oracleWsdl"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="edmWsdl">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    EDM WSDL
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="edmWsdl"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="validadorWsdl">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Validador WSDL
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="validadorWsdl"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="autoGuiWsdl">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Auto Gui WSDL
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="autoGuiWsdl"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="localizacaoCertificado">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Local Certificado
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="localizacaoCertificado"></p-sortIcon>
                  </div>
                </div>
              </th>
              <th pSortableColumn="senhaCertificado">
                <div class="flex justify-content-between align-items-center">
                  <div class="flex justify-content-between align-items-center">
                    Senha Certificado
                  </div>
                  <div class="flex justify-content-between align-items-center">
                    <p-sortIcon field="senhaCertificado"></p-sortIcon>
                  </div>
                </div>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-dados>
            <tr>
              <td style="text-align: left">{{ dados.ambiente }}</td>
              <td style="text-align: left">{{ dados.nivelLog }}</td>
              <td style="text-align: left">{{ dados.linguagem }}</td>
              <td style="text-align: left">{{ dados.ged }}</td>
              <td style="text-align: left">{{ dados.trabalhos }}</td>
              <td style="text-align: left">{{ dados.painelControle }}</td>
              <td style="text-align: left">{{ dados.validador }}</td>
              <td style="text-align: left">{{ dados.agruparPorStatus }}</td>
              <td style="text-align: left">{{ dados.diratorioAgrupamento }}</td>
              <td style="text-align: left">{{ dados.rlProvedor }}</td>
              <td style="text-align: left">{{ dados.portaProvedor }}</td>
              <td style="text-align: left">{{ dados.dominio }}</td>
              <td style="text-align: left">{{ dados.useLdap }}</td>
              <td style="text-align: left">{{ dados.hostName }}</td>
              <td style="text-align: left">{{ dados.porta}}</td>
              <td style="text-align: left">{{ dados.ssl }}</td>
              <td style="text-align: left">{{ dados.remetente }}</td>
              <td style="text-align: left">{{ dados.usuario }}</td>
              <td style="text-align: left">{{ dados.senha }}</td>
              <td style="text-align: left">{{ dados.senhaA3 }}</td>
              <td style="text-align: left">{{ dados.validacao }}</td>
              <td style="text-align: left">{{ dados.assinatura }}</td>
              <td style="text-align: left">{{ dados.transmissao }}</td>
              <td style="text-align: left">{{ dados.excluirContabilidade }}</td>
              <td style="text-align: left">{{ dados.validacaoAutomnatica }}</td>
              <td style="text-align: left">{{ dados.alertaEmail }}</td>
              <td style="text-align: left">{{ dados.oracleWsdl }}</td>
              <td style="text-align: left">{{ dados.edmWsdl }}</td>
              <td style="text-align: left">{{ dados.validadorWsdl }}</td>
              <td style="text-align: left">{{ dados.autoGuiWsdl }}</td>
              <td style="text-align: left">{{ dados.localizacaoCertificado }}</td>
              <td style="text-align: left">{{ dados.senhaCertificado }}</td>

            </tr>
          </ng-template>

          </p-table>

        </div>
    </p-card>
</div>
