<div class="col-12">
  <p-card
      styleClass="shadow-3  text-orange-500"
      header="Manutenção de Fluxos"
    >
    <div class="col-sm-12">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item" icon="pi pi-plus" ><a href="/tarefas-automatizadas">Tarefas Automatizadas</a></li>
        <li class="breadcrumb-item active">Fluxos</li>
      </ol>
    </div>
    <div class="formgrid grid">
      <div class="field col-12">
      <p-toolbar>
        <div class="p-toolbar-group-star">
          <h3>Lista de fluxos</h3>
        </div>
        <div class="p-toolbar-group-end">
          <p-button
           icon="pi pi-plus"
           class="mr-2"
           pTooltip="Criar novos Fluxos"
           tooltipPosition="top"
           (onClick)="handleFluxoEvent(adicionarFluxoEvent)"
           ></p-button>
        </div>
      </p-toolbar>

      </div>
    </div>
        <div class="card">
          <p-table
        #tarefasAutomatizadasTable
        [value]="fluxos"

        [rows]="20"
        [paginator]="true"
        [globalFilterFields]="['grupo', 'id']"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        dataKey="id"
        [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} funcionalidades"
      >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Listagem de fluxos e tarefas vinculadas
        </div>
      </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem"></th>
            <th pSortableColumn="id">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Id
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="codempresa"></p-sortIcon>
                  <!--p-columnFilter
                    type="text"
                    field="id"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter-->
                </div>
              </div>
            </th>
            <th pSortableColumn="codempresa">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Nome
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="codempresa"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="codempresa"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th pSortableColumn="descricao">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Descrição
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="descricao"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="descricao"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th pSortableColumn="contemTarefas">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Contém Tarefas
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="contemTarefas"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="contemTarefas"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th pSortableColumn="dataCriacao">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Data de criação
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="dataCriacao"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="dataCriacao"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th pSortableColumn="dataUltimaExecucao">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Ultima Execução
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="dataUltimaExecucao"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="dataUltimaExecucao"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th pSortableColumn="agendadoPara">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Agendado Para
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="agendadoPara"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="agendadoPara"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Executar Agora
                </div>
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Excluir
                </div>
              </div>
            </th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dadosFluxo let-expanded="expanded">
          <tr>
            <td>
              <!--button type="button" pButton pRipple [pRowToggler]="dadosFluxo" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button-->
              <button type="button" pButton pRipple [pRowToggler]="dadosFluxo" class="p-button-text " [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>

            </td>
            <td style="text-align: left">{{ dadosFluxo.id }}</td>
            <td style="text-align: left">{{ dadosFluxo.nome }}</td>
            <td [pTooltip]="dadosFluxo?.descricao" tooltipPosition="top" style="text-align: left">
              {{ dadosFluxo?.descricao | shorten : 25 }}
            </td>
            <td style="text-align: left"><p-tag [value]="dadosFluxo.contemVinculo ? 'Sim': 'Não'" [severity]="getStatus(dadosFluxo.contemVinculo)"></p-tag></td>

            <td style="text-align: left">{{ dadosFluxo.dataCriacao | date: "dd-MM-yyyy"   }}</td>
            <td style="text-align: left">{{ dadosFluxo.dataUltimaExecucao | date: "dd-MM-yyyy HH:mm"   }}</td>
            <td style="text-align: left">{{ dadosFluxo.agendadoPara | date: "dd-MM-yyyy"   }}</td>
            <td style="text-align: center">

              <p-button
                [disabled]="!dadosFluxo.contemVinculo"
                icon="pi pi-caret-right"
                styleClass="p-button-rounded p-button-secondary p-button-text"
                (onClick)="handleExecuteFluxoEvent(dadosFluxo.id, dadosFluxo)"

              >
              </p-button>
            </td>
            <td style="text-align: center">
              <p-button
                [disabled]="dadosFluxo.contemVinculo"
                icon="pi pi-trash"
                styleClass="p-button-rounded p-button-secondary p-button-text"
                (onClick)="handleDeleteFluxoEvent(dadosFluxo.id, dadosFluxo.periodo)"
              >
              </p-button>
            </td>

          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-dados>
          <tr>
              <td colspan="7">
                  <div class="p-3">
                      <p-table [value]="dados.fluxosTarefas" dataKey="idFluxo">
                          <ng-template pTemplate="header">
                              <tr>
                                <th pSortableColumn="obrigacao">
                                  <div class="flex justify-content-between align-items-center">
                                    <div class="flex justify-content-between align-items-center">
                                      Obrigação
                                    </div>
                                    <div class="flex justify-content-between align-items-center">
                                      <p-sortIcon field="obrigacao"></p-sortIcon>
                                      <p-columnFilter
                                        type="text"
                                        field="obrigacao"
                                        display="menu"
                                        matchMode="contains"
                                        [showMatchModes]="false"
                                        [showOperator]="false"
                                        [showAddButton]="false"
                                      ></p-columnFilter>
                                    </div>
                                  </div>
                                </th>
                                <th pSortableColumn="periodo">
                                  <div class="flex justify-content-between align-items-center">
                                    <div class="flex justify-content-between align-items-center">
                                      Periodo
                                    </div>
                                    <div class="flex justify-content-between align-items-center">
                                      <p-sortIcon field="periodo"></p-sortIcon>
                                      <p-columnFilter
                                        type="text"
                                        field="periodo"
                                        display="menu"
                                        matchMode="contains"
                                        [showMatchModes]="false"
                                        [showOperator]="false"
                                        [showAddButton]="false"
                                      ></p-columnFilter>
                                    </div>
                                  </div>
                                </th>
                                <th pSortableColumn="dataUltimaExecucao">
                                  <div class="flex justify-content-between align-items-center">
                                    <div class="flex justify-content-between align-items-center">
                                      Última execução
                                    </div>
                                    <div class="flex justify-content-between align-items-center">
                                      <p-sortIcon field="dataUltimaExecucao"></p-sortIcon>
                                      <p-columnFilter
                                        type="text"
                                        field="dataUltimaExecucao"
                                        display="menu"
                                        matchMode="contains"
                                        [showMatchModes]="false"
                                        [showOperator]="false"
                                        [showAddButton]="false"
                                      ></p-columnFilter>
                                    </div>
                                  </div>
                                </th>
                                <th pSortableColumn="contemAgendamento">
                                  <div class="flex justify-content-between align-items-center">
                                    <div class="flex justify-content-between align-items-center">
                                      Status
                                    </div>
                                    <div class="flex justify-content-between align-items-center">
                                      <p-sortIcon field="contemAgendamento"></p-sortIcon>
                                      <p-columnFilter
                                        type="text"
                                        field="contemAgendamento"
                                        display="menu"
                                        matchMode="contains"
                                        [showMatchModes]="false"
                                        [showOperator]="false"
                                        [showAddButton]="false"
                                      ></p-columnFilter>
                                    </div>
                                  </div>
                                </th>
                                <th pSortableColumn="dataProximaExecucao">
                                  <div class="flex justify-content-between align-items-center">
                                    <div class="flex justify-content-between align-items-center">
                                      Próxima execução
                                    </div>
                                    <div class="flex justify-content-between align-items-center">
                                      <p-sortIcon field="dataProximaExecucao"></p-sortIcon>
                                      <p-columnFilter
                                        type="text"
                                        field="dataProximaExecucao"
                                        display="menu"
                                        matchMode="contains"
                                        [showMatchModes]="false"
                                        [showOperator]="false"
                                        [showAddButton]="false"
                                      ></p-columnFilter>
                                    </div>
                                  </div>
                                </th>
                                <th style="width: 4rem">Executar</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-tarefas>
                              <tr>
                                  <td style="text-align: left">{{ tarefas.obrigacao }}</td>
                                  <td style="text-align: left">{{ tarefas.periodo }}</td>
                                  <td style="text-align: left">{{ tarefas.dataUltimaExecucao  | date: "dd-MM-yyyy HH:mm"   }}</td>
                                  <td style="text-align: left">{{ tarefas.contemAgendamento  | status}}</td>
                                  <td style="text-align: left">{{ tarefas.dataProximaExecucao | date: "dd-MM-yyyy"   }}</td>
                                  <td style="text-align: center">
                                    <p-button

                                      icon="pi pi-caret-right"
                                      styleClass="p-button-rounded p-button-secondary p-button-text"

                                    >
                                    </p-button>
                                  </td>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                              <tr>
                                  <td colspan="6">Ainda não há tarefas vinculadas a este fluxo</td>
                              </tr>
                          </ng-template>
                      </p-table>
                  </div>
              </td>
          </tr>
      </ng-template>

      </p-table>


        </div>
    </p-card>
  </div>



