<div class="col-12">
  <p-card
      styleClass="shadow-3  text-orange-500"
      header="Manutenção de Fluxos"
    >
    <div class="formgrid grid">
      <div class="field col-12">
      <p-toolbar>
        <div class="p-toolbar-group-star">
          <h3>Lista de fluxos</h3>
        </div>
        <div class="p-toolbar-group-end">
          <p-button
           icon="pi pi-plus"
           class="mr-2"
           pTooltip="Criar novos Fluxos"
           tooltipPosition="top"
           (onClick)="handleFluxoEvent(adicionarFluxoEvent)"
           ></p-button>
        </div>
      </p-toolbar>

      </div>
    </div>
      <p-table
        #funcionalidadesTable
        [value]="fluxos"
        styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
        [rows]="10"
        [paginator]="true"
        [responsive]="true"
        [globalFilterFields]="['grupo', 'id']"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        dataKey="id"
        [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} funcionalidades"
      >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Listagem de Fluxos

        </div>
    </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 2%">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="nome">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Nome
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="nome"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="nome"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="descricao">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Descrição
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="descricao"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="descricao"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>


            <th pSortableColumn="dataCriacao">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Data de criação
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="dataCriacao"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="dataCriacao"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="contemVinculo">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Contém Vínculo
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="contemVinculo"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="contemVinculo"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="dataUltimaExecucao">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Última Execução
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="dataUltimaExecucao"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="dataUltimaExecucao"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                Excluir
              </div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-dados>
          <tr>
            <td>
              <p-tableCheckbox [value]="dados"></p-tableCheckbox>
            </td>
            <td style="text-align: left">{{ dados.nome }}</td>
            <td
              [pTooltip]="dados.descricao" tooltipPosition="top"
              style="text-align: left"
            >{{ dados.descricao |shorten :25 }}</td>
            <td style="text-align: left">{{ dados.dataCriacao }}</td>
            <td style="text-align: left">{{ dados.contemVinculo }}</td>
            <td style="text-align: left">{{ dados.dataUltimaExecucao }}</td>

            <td style="text-align: center">
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-rounded p-button-secondary p-button-text"
                (onClick)="handleDeleteFluxoEvent(dados.id, dados.nome)"
              >
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>



