
<mat-sidenav #sidenav mode="side" opened="isExpanded">
  <mat-nav-list>

    <mat-list-item (click)="isExpanded = !isExpanded">
      <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
      </mat-icon>
    </mat-list-item>

    <mat-list-item [routerLink]="'dashboard'">
      <mat-icon mat-list-icon>dashboard</mat-icon>
      <span *ngIf="isExpanded" class="menu-item">Dashboard</span>
    </mat-list-item>

    <mat-list-item [routerLink]="'info'">
      <mat-icon mat-list-icon>add_task</mat-icon>
      <span *ngIf="isExpanded" class="menu-item">Rotinas Automatizadas</span>
    </mat-list-item>

    <mat-list-item [routerLink]="'user'">
      <mat-icon mat-list-icon>supervisor_account</mat-icon>
      <span *ngIf="isExpanded" class="menu-item">Rotinas Avançadas</span>
    </mat-list-item>

    <mat-list-item [routerLink]="'user'">
      <mat-icon mat-list-icon>supervisor_account</mat-icon>
      <span *ngIf="isExpanded" class="menu-item">Rotinas Avançadas</span>
    </mat-list-item>

    <mat-list-item [routerLink]="'user'">
      <mat-icon mat-list-icon>supervisor_account</mat-icon>
      <span *ngIf="isExpanded" class="menu-item">Rotinas Avançadas</span>
    </mat-list-item>

  </mat-nav-list>
</mat-sidenav>
