<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar (toggleSidebarForMe)="sideBarToggler()"></app-navbar>
    <app-fluxos-table
    [fluxos]="fluxosDatas"
    (fluxoEvent)="handleFluxoAction($event)"
    (deleteFluxoEvent)="handleDeleteFluxoAction($event)"
    (executeFluxoEvent)="handleExecuteFluxoAction($event)"
    ></app-fluxos-table>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

