
$orange:  #f1734f;
$orange-100: tint-color($orange, 80%);
$orange-200: tint-color($orange, 60%);
$orange-300: tint-color($orange, 40%);
$orange-400: tint-color($orange, 20%);
$orange-500: $orange;
$orange-600: shade-color($orange, 20%);
$orange-700: shade-color($orange, 40%);
$orange-800: shade-color($orange, 60%);
$orange-900: shade-color($orange, 80%);


mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
  border: 10px red

}

.matToolbarVt{
  background-color:bisque;

}
