<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar (toggleSidebarForMe)="sideBarToggler()"></app-navbar>
    <app-queries-db-table
    [queriesDb]="queriesDbDatas"
    [queriesDbHistorico]="queriesDbHistoricoDatas"
    (queriesDbEvent)="handleQuerieDbAction($event)"
    ></app-queries-db-table>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
