<div class="col-12">
  <div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel header="Regras">
            <ng-template pTemplate="header">
                <i class="pi pi-map"></i>
                <span>Regras Relatório</span>
            </ng-template>
              <p-table
                #logProcessamentoTable
                [value]="regrasRelatorio"
                styleClass="p-datatable-sm"
                [rows]="10"
                [paginator]="true"
                [responsive]="true"
                [globalFilterFields]="['grupo', 'id']"
                [tableStyle]="{ 'min-width': '50rem' }"
                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                [rowHover]="true"
                [showCurrentPageReport]="true"
                dataKey="id"
                [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} funcionalidades"
              >
              <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                  Listagem de regras
                  <p-button icon="pi pi-plus"></p-button>
                </div>
            </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="id">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-between align-items-center">
                          Id
                        </div>
                        <div class="flex justify-content-between align-items-center">
                          <p-sortIcon field="id"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="id"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th pSortableColumn="nome">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-between align-items-center">
                          Nome
                        </div>
                        <div class="flex justify-content-between align-items-center">
                          <p-sortIcon field="nome"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="nome"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>

                    <th pSortableColumn="comando">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-between align-items-center">
                          Descrição
                        </div>
                        <div class="flex justify-content-between align-items-center">
                          <p-sortIcon field="descricao"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="descricao"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th pSortableColumn="dataInicio">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-between align-items-center">
                          Query
                        </div>
                        <div class="flex justify-content-between align-items-center">
                          <p-sortIcon field="dataInicio"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="dataInicio"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th pSortableColumn="dataFim">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-between align-items-center">
                          Data
                        </div>
                        <div class="flex justify-content-between align-items-center">
                          <p-sortIcon field="dataFim"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="dataFim"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>

                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-dados>
                  <tr>
                    <td style="text-align: left">{{ dados.id }}</td>
                    <td style="text-align: left">{{ dados.nome }}</td>
                    <td [pTooltip]="dados?.descricao" tooltipPosition="top" style="text-align: left">
                      {{ dados?.descricao | shorten : 25 }}
                    </td>
                    <td [pTooltip]="dados?.comando" tooltipPosition="top" style="text-align: left">
                      {{ dados?.comando | shorten : 25 }}
                    </td>
                    <td style="text-align: left">{{ dados.data }}</td>

                  </tr>
                </ng-template>
              </p-table>
        </p-tabPanel>
        <p-tabPanel header="Construtor">
            <ng-template pTemplate="header">
                <i class="pi pi-file-edit"></i>
                <span>Construtor de Relatórios</span>
            </ng-template>
            <p>
              <p-table
                #usuariosOnLineTable
                [value]="construtorRelatorio"
                styleClass="p-datatable-sm"
                [rows]="10"
                [paginator]="true"
                [responsive]="true"
                [globalFilterFields]="['grupo', 'id']"
                [tableStyle]="{ 'min-width': '50rem' }"
                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                [rowHover]="true"
                [showCurrentPageReport]="true"
                dataKey="id"
                [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} funcionalidades"
              >
              <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                  Listagem de relátorios construidos
                  <p-button icon="pi pi-plus" (onClick)="handleConstrutorRelatorioEvent(adicionarConstrutorRelatorioEvent)"></p-button>
                </div>
            </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="periodo">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-between align-items-center">
                          Periodo
                        </div>
                        <div class="flex justify-content-between align-items-center">
                          <p-sortIcon field="periodo"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="periodo"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th pSortableColumn="empresa">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-between align-items-center">
                          Empresa
                        </div>
                        <div class="flex justify-content-between align-items-center">
                          <p-sortIcon field="empresa"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="empresa"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th pSortableColumn="Nome">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-between align-items-center">
                          Estabelecimento
                        </div>
                        <div class="flex justify-content-between align-items-center">
                          <p-sortIcon field="nome"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="nome"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>

                    <th pSortableColumn="regras">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-between align-items-center">
                          Regras
                        </div>
                        <div class="flex justify-content-between align-items-center">
                          <p-sortIcon field="regras"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="regras"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>

                    <th pSortableColumn="comando">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-between align-items-center">
                          Comando SQL
                        </div>
                        <div class="flex justify-content-between align-items-center">
                          <p-sortIcon field="comando"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="comando"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th pSortableColumn="data">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-between align-items-center">
                          Ultima execução
                        </div>
                        <div class="flex justify-content-between align-items-center">
                          <p-sortIcon field="data"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="data"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                        Executar
                      </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                        Editar
                      </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                        Excluir
                      </div>
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-dados>
                  <tr>
                    <td style="text-align: left">{{ dados.periodo }}</td>
                    <td style="text-align: left">{{ dados.empresa }}</td>
                    <td style="text-align: left">{{ dados.estabelecimento }}</td>
                    <td style="text-align: left">{{ dados.regra }}</td>
                    <td [pTooltip]="dados?.comando" tooltipPosition="top" style="text-align: left">
                      {{ dados?.comando | shorten : 25 }}
                    </td>
                    <td style="text-align: left">{{ dados.data }}</td>
                    <td style="text-align: center">
                      <p-button
                        icon="pi pi-caret-right"
                        styleClass="p-button-rounded p-button-secondary p-button-text"
                      >
                      </p-button>
                    </td>
                    <td style="text-align: center">
                      <p-button
                        icon="pi pi-file-edit"
                        styleClass="p-button-rounded p-button-secondary p-button-text"
                        (onClick)="handleConstrutorRelatorioEvent(editarConstrutorRelatorioEvent, dados.id)"
                      >
                      </p-button>
                    </td>
                    <td style="text-align: center">
                      <p-button
                        icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-secondary p-button-text"
                        (click)="handleDeleteConstrutorRelatorioEvent(dados.id, dados.periodo)"
                      >
                      </p-button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p>
        </p-tabPanel>
    </p-tabView>
  </div>
</div>


