<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar (toggleSidebarForMe)="sideBarToggler()"></app-navbar>
      <app-construtor-relatorios-table
        [regrasRelatorio]="regrasRelatorioDatas"
        [construtorRelatorio]="construtorRelatoriosDatas"
        (construtorRelatorioEvent)="handleConstrutorRelatorioAction($event)"
        (deleteConstrutorRelatorioEvent)="handleDeleteConstrutorRelatorioAction($event)"
      ></app-construtor-relatorios-table>
      <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
