<div class="formgrid grid">
  <div class="field p-inputgroup mt-5">
    <div class="col-1">
      <label class="font-bold">Nome: </label>
    </div>
    <div class="col-10">
      <input type="text" pInputText id="nomeUsuario"  class="p-inputtext-sm w-full" placeholder="Informe o nome" formControlName="nomeUsuario" />
    </div>

 </div>
 <div class="p-inputgroup mt-5">
  <label class="font-bold">Email: </label>

  <input type="email" pInputText id="email"   class="p-inputtext-sm w-full" placeholder="Informe o Email" formControlName="email" />
</div>
<div class="p-inputgroup mt-3">
  <label class="font-bold">Senha: </label>

  <p-password class="flex p-inputtext-sm" placeholder="Informe a senha" formControlName="password" [toggleMask]="true" />
</div>
<div class="p-inputgroup mt-3">
  <label class="font-bold">Confirma Senha: </label>
  
  <p-password class="flex p-inputtext-sm" placeholder="Confirme a senha" formControlName="password" [toggleMask]="true" />
</div>


</div>

