<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar (toggleSidebarForMe)="sideBarToggler()"></app-navbar>
    <app-relatorios-logs-table
    [logProcessamentos]="logProcessamentosDatas"
    [usuariosOnline]="usuariosOnlineDatas"
    ></app-relatorios-logs-table>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
